<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>566065173587-pmr51pnn030pcb83kf87dqb26bt5q0l9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.566065173587-pmr51pnn030pcb83kf87dqb26bt5q0l9</string>
	<key>API_KEY</key>
	<string>AIzaSyDQ9x4CRmb6mVVqlUDT8CCfZFfedstCg-0</string>
	<key>GCM_SENDER_ID</key>
	<string>566065173587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.markskurat.Twitter</string>
	<key>PROJECT_ID</key>
	<string>twitter-67c45</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-67c45.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:566065173587:ios:a434b079356226f9caa2a6</string>
</dict>
</plist>